// Navigation code here



.nav-container {

    background-color: #EDF0F0;
    opacity: .95;
    margin: 1%;
    width: 100%;
    position: fixed;
    top: 0; 
  
  }


nav {

    .display-flex();
    flex-wrap: wrap-reverse;
    width: 100%;
    height: 50px; 
    margin: auto; 
    padding-left: 30%;
    padding-right: 30%;
    
    

        @media @phone{
            padding-left: 0px;
            padding-right: 0px;
        }

        a {
             .a-style();  
        }  
                
      
}




